<div class="row column">
  <% content_for :header_actions do %>
    <% if resource.persisted? %>
      <%= link_to 'Show', [resource] %> |
    <% end %>
    <%= link_to 'Back', send("#{resource_name.downcase.pluralize}_path") %>
  <% end %>
  <% if resource.new_record? %>
    <% title = "New #{resource_name}" %>
  <% else %>
    <% title = "Edit #{resource_name}" %>
  <% end %>
  <%= render "shared/header", {title: title} %>

  <%= simple_nested_form_for resource do |f| %>
    <% resource_fields.each do |field_name| %>
      <%= f.input field_name %>
    <% end %>
    <%= yield f %>

    <div class="text-right row column">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>
