<div class="row column">
  <% content_for :header_actions do %>
    <%= link_to "New #{resource_name}", [:new, resource_name.underscore] %>
  <% end %>
  <%= render "shared/header", {title: resource_name.pluralize} %>

  <table>
    <thead>
      <tr>
        <%resource_fields.each do |rf|%>
          <th>
            <%= rf.to_s.humanize %>
          </th>
        <%end%>
        <th colspan="3" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |resource| %>
        <tr>
          <%resource_fields.each do |rf|%>
            <td>
              <%=resource.send(rf)%>
            </td>
          <%end%>
          <%if defined?(is_sti) && is_sti
            resource = resource.becomes(Object.const_get(resource_name))
          end%>
          <td><%= link_to 'Show', [resource] %></td>
          <td><%= link_to 'Edit', [:edit, resource] %></td>
          <%if defined?(destroy) && destroy%>
            <td><%= link_to "Destroy", [resource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%=paginate resources%>
</div>
