<div class="row column">
  <% content_for :header_actions do %>
    <%= link_to "New #{resource_name}", [:new, resource_name.underscore] %>
  <% end %>
  <%= render "shared/header", {title: resource_name.pluralize} %>

  <table>
    <thead>
      <tr>
        <%resource_fields.each do |rf|%>
          <th>
            <%= rf.to_s.humanize %>
          </th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |resource| %>
        <tr>
          <%resource_fields.each do |rf|%>
            <td>
              <% if rf == :name %>
                <span class="subheader">#<%= resource.id %></span>
                <%= link_to "#{resource.name}", [resource] %>
                <div class="pull-right">
                  <%= link_to [:edit, resource] do %>
                    <span title="Edit" class="fa fa-pencil"></span>
                  <% end %>
                  &nbsp;
                  <%if defined?(destroy) && destroy%>
                    <%= link_to [resource], method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span title="Delete" class="fa fa-trash"></span>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <%= resource.send(rf) %>
              <% end %>
            </td>
          <%end%>
          <%if defined?(is_sti) && is_sti
            resource = resource.becomes(Object.const_get(resource_name))
          end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%=paginate resources%>
</div>
