<div class="row column">
  <% content_for :header_actions do %>
    <%= link_to 'Edit', [:edit, resource] %> |
    <%= link_to 'Back', send("#{resource_name.downcase.pluralize}_path") %>
  <% end %>
  <%= render "shared/header", {title: "#{resource_name} ##{resource.id}"} %>
  <dl>
    <div class="row">
      <% resource_fields.each do |rf| %>
        <div class="small-6 column">
          <dt><%= rf.to_s.humanize %></dt>
          <dd><%= resource.send(rf) %></dd>
        </div>
      <% end %>
    </div>
  </dl>

  <%= yield %>
</div>
