<div class="callout">
  <div class="row">
    <div class="column">
      <h3 class="callout-header"><%= resource_name.pluralize %></h3>
    </div>
    <% if defined?(table_links) && table_links %>
      <div class="column small-6 medium-4 large-2 text-right">
        <% table_links.each_with_index do |link, index| %>
          <%= link_to link[:link_name], link[:link_path] %>
          <%= "|" if index != table_links.length - 1 %>
        <% end %>
      </div>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <%resource_fields.each do |rf|%>
          <th>
            <%= rf.to_s.humanize %>
          </th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |resource| %>
        <tr>
          <%resource_fields.each do |rf|%>
            <td>
              <%=resource.send(rf)%>
            </td>
          <%end%>
          <%  if defined?(edit) && edit %>
            <td><%= link_to "Edit", [:edit, resource] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
