<%= render "shared/crude/form", resource_name: "Blank", resource: @resource, resource_fields: [:name, :brand] do |f| %>
  <div class="callout">
    <h3 class="callout-header">Sides</h3>
    <div id="sides">
      <%= f.fields_for :sides, wrapper: false do |side_form| %>
        <div class="row align-middle fields">
          <div class="column small-2">
            <%= image_tag side_form.object.attachment_url, class: "side-image" if side_form.object.attachment.presence %>
          </div>
          <div class="column">
            <div class="callout">
              <%= side_form.input :name %>
              <%= side_form.hidden_field :attachment, value: side_form.object.cached_attachment_data %>
              <%= side_form.input :attachment, as: :file %>
            </div>
          </div>
          <div class="column small-1">
            <%= side_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>

    <div class="row column medium-text-right">
      <%= f.link_to_add :sides, class: "button", data: {target: "#sides"} do %>
        <i class="fa fa-plus"></i> Add Side
      <% end %>
    </div>
  </div>

  <div class="callout">
    <h3 class="callout-header">Properties</h3>
    <div id="properties">
      <%= f.fields_for :properties, wrapper: false do |prop_form| %>
        <div class="row align-bottom fields properties-fields">
          <div class="column">
            <%= prop_form.input :prop_type, collection: Property.prop_types.keys.to_a %>
          </div>
          <div class="column">
            <%= prop_form.input :method, collection: Property.methods.keys.to_a %>
          </div>
          <div class="column">
            <%= prop_form.input :name %>
          </div>
          <div class="column">
            <%= prop_form.input :element_id %>
          </div>
          <div class="column">
            <%= prop_form.input :back_element_id %>
          </div>
          <div class="small-1 column">
            <%= prop_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>

    <div class="row column medium-text-right">
      <%= f.link_to_add :properties, class: "button", data: {target: "#properties"} do %>
        <span class="fa fa-plus">&nbsp;</span>Add Property
      <% end %>
    </div>
  </div>

  <div class="callout">
    <h3 class="callout-header">Full Prints</h3>
    <div id="full_prints">
      <%= f.fields_for :full_prints, wrapper: false do |f_print_form| %>
        <div class="row fields align-middle">
          <div class="small-11 column">
            <div class="row">
              <div class="column">
                <%= f_print_form.input :name %>
              </div>
              <div class="column">
                <%= f_print_form.input :element_id, label: "Element Id" %>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <%= f_print_form.input :in_width %>
              </div>
              <div class="column">
                <%= f_print_form.input :in_height %>
              </div>
              <div class="column">
                <%= f_print_form.input :mm_width %>
              </div>
              <div class="column">
                <%= f_print_form.input :mm_height %>
              </div>
              <div class="column">
                <%= f_print_form.input :px_width %>
              </div>
              <div class="column">
                <%= f_print_form.input :px_height %>
              </div>
            </div>
          </div>

          <div class="small-1 column">
            <%= f_print_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
    <hr>

    <div class="row column medium-text-right">
      <%= f.link_to_add :full_prints, class: "button", data: {target: "#full_prints"} do %>
        <span class="fa fa-plus">&nbsp;</span>Add Full Print
      <% end %>
    </div>
  </div>

  <div class="callout">
    <h3 class="callout-header">Sleeve Prints</h3>
    <div id="sleeve_prints">
      <%= f.fields_for :sleeve_prints, wrapper: false do |s_print_form| %>
        <div class="row fields align-middle">
          <div class="small-11 column">
            <div class="row">
              <div class="column">
                <%= s_print_form.input :name %>
              </div>
              <div class="column">
                <%= s_print_form.input :left_half_element_id, label: "Left Half Element Id" %>
              </div>
              <div class="column">
                <%= s_print_form.input :right_half_element_id, label: "Right Half Element Id" %>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <%= s_print_form.input :in_width %>
              </div>
              <div class="column">
                <%= s_print_form.input :in_height %>
              </div>
              <div class="column">
                <%= s_print_form.input :mm_width %>
              </div>
              <div class="column">
                <%= s_print_form.input :mm_height %>
              </div>
              <div class="column">
                <%= s_print_form.input :px_width %>
              </div>
              <div class="column">
                <%= s_print_form.input :px_height %>
              </div>
            </div>
          </div>

          <div class="small-1 column">
            <%= s_print_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>

    <div class="row column medium-text-right">
      <%= f.link_to_add :sleeve_prints, class: "button", data: {target: "#sleeve_prints"} do %>
        <span class="fa fa-plus">&nbsp;</span> Add Sleeve Print
      <% end %>
    </div>
  </div>
<% end %>
