<%= render "shared/crude/form", resource_name: "Product", resource: @resource, resource_fields: [:name, :custom_dye] do |f| %>
  <%= f.association :blank %>

  <%= f.input :currency, collection: Money::Currency.all.map{|curr| ["#{curr.name} (#{curr.iso_code})", curr.iso_code]} %>

  <div class="row">
    <div class="small-12 column">
      <%= label_tag("product_color_ids") do %>
        <abbr title="required">*</abbr> Colors</label>
      <% end %>
      <%= hidden_field_tag "product[color_ids][]", "" %>
    </div>
    <%= select_tag "colorLabel", options_for_select(Color.all.pluck(:label).uniq) %>
    <div id="colorContainer">
      <% Color.all.each do |color| %>
        <div class="small-4 medium-3 large-2 column color-checkbox">
          <%= label_tag "product_color_ids_#{color.id}" do %>
            <%= check_box_tag "product[color_ids][]", color.id, @resource.colors.collect{|c| c.id}.include?(color.id), id: "product_color_ids_#{color.id}", class: "color-checkbox", data: {hex: color.hex} %>
            <% if @resource.colors.collect{|c| c.id}.include?(color.id) %>
              <span class="color-box"><i class="fa fa-check-square" aria-hidden="true" style="color: <%= color.hex %>"></i></span>
              <span class="color-name selected"><%= color.name %></span>
            <% else %>
              <span class="color-box"><i class="fa fa-square" aria-hidden="true" style="color: <%= color.hex %>"></i></span>
              <span class="color-name"><%= color.name %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @resource.errors.include?(:colors) %>
      <div class="small-12 column">
        <% @resource.errors[:colors].each do |msg| %>
          <small class="error"><%= msg %></small>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="callout">
    <h3 class="callout-header">Sizes</h3>
    <div class="row" id="sizes-form">
      <%= f.fields_for :sizes, wrapper: false do |size_form| %>
        <div class="column small-6 medium-4 large-3 fields">
          <div class="row">
            <div class="small-9 column sizes-input">
            <%= size_form.input :name %>
            </div>
            <div class="small-3 column align-self-bottom sizes-remove">
              <%= size_form.link_to_remove class: "button alert remove-button" do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <p><%= f.link_to_add "Add Size", :sizes, class: "button warning", data: { target: "#sizes-form" } %></p>
  </div>
  
  <div class="callout">
    <h3 class="callout-header">Price Range</h3>
    <div id="price-ranges-form">
      <%= f.fields_for :price_ranges, wrapper: false do |pr_form| %>
        <div class="price-ranges-container fields">
          <div class="row">
          <div class="column small-6 medium-3">
            <%= pr_form.input :from_quantity, label: "From qty" %>
          </div>
          <div class="column small-6 medium-3">
            <%= pr_form.input :to_quantity, label: "To qty" %>
          </div>
          <div class="column small-6 medium-3">
            <%= pr_form.input :commission, label: "Commission (decimal)", placeholder: "3.4" %>
          </div>
          <div class="column small-6 medium-3 align-self-bottom">
            <%= pr_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
          <%= pr_form.link_to_add "Add Color Count", :color_counts, class: "button success" %>
          
          <%= pr_form.fields_for :color_counts do |color_count| %>
            <div class="row">
              <div class="small-5 column">
                <%= color_count.input :color_count %>
              </div>
              <div class="small-5 column">
                <%= color_count.input :price %>
              </div>
              <div class="small-2 column align-self-bottom">
                <%= color_count.link_to_remove class: "button alert remove-button" do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          <% end %> 
        </div>
      <% end %>
    </div>
    <p><%= f.link_to_add "Add Price Range", :price_ranges, class: "button warning", data: { target: "#price-ranges-form" } %></p>
  </div>
<% end %>
