<%= render "shared/crude/form", resource_name: "Product", resource: @resource, resource_fields: [:name] do |f| %>
  <%= f.association :blank %>

  <div class="row">
    <div class="small-12 column">
      <%= label_tag("product_color_ids") do %>
        <abbr title="required">*</abbr> Colors</label>
      <% end %>
      <%= hidden_field_tag "product[color_ids][]", "" %>
    </div>
    <% Color.all.each do |color| %>
      <div class="small-4 medium-3 large-2 column color-checkbox">
        <%= label_tag "product_color_ids_#{color.id}" do %>
          <%= check_box_tag "product[color_ids][]", color.id, @resource.colors.collect{|c| c.id}.include?(color.id), id: "product_color_ids_#{color.id}", class: "color-checkbox", data: {hex: color.hex} %>
          <% if @resource.colors.collect{|c| c.id}.include?(color.id) %>
            <span class="color-box"><i class="fa fa-check-square" aria-hidden="true" style="color: <%= color.hex %>"></i></span>
            <span class="color-name bold"><%= color.name %></span>
          <% else %>
            <span class="color-box"><i class="fa fa-square" aria-hidden="true" style="color: <%= color.hex %>"></i></span>
            <span class="color-name"><%= color.name %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @resource.errors.include?(:colors) %>
      <div class="small-12 column">
        <% @resource.errors[:colors].each do |msg| %>
          <small class="error"><%= msg %></small>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 medium-4 column">
      <h3>Sizes</h3>
      <%= f.fields_for :sizes do |size_form| %>
        <div class="row">
          <div class="column">
            <%= size_form.input :name %>
          </div>
          <div class="shrink column">
            <%= size_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div><%= f.link_to_add "Add Size", :sizes, class: "button warning" %></div>
    </div>
    <div class="small-12 medium-8 column">
      <h3>Price Range</h3>
      <%= f.fields_for :price_ranges do |pr_form| %>
        <div class="row align-middle">
          <div class="column">
            <div class="row">
              <div class="small-6 large-4 column">
                <%= pr_form.input :from_quantity, label: "From qty" %>
              </div>
              <div class="small-6 large-4 column">
                <%= pr_form.input :to_quantity, label: "To qty" %>
              </div>
              <div class="small-6 large-4 column">
                <%= pr_form.input :price_cents %>
              </div>
              <div class="small-6 large-4 column">
                <%= pr_form.input :lower_rrp_cents %>
              </div>
              <div class="small-6 large-4 column">
                <%= pr_form.input :higher_rrp_cents %>
              </div>
              <div class="small-6 large-4 column">
                <%= pr_form.input :commission, label: "Commission (decimal)" %>
              </div>
            </div>
          </div>
          <div class="shrink column">
            <%= pr_form.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
      <div><%= f.link_to_add "Add Price Range", :price_ranges, class: "button warning" %></div>
    </div>
  </div>
<% end %>
