<div class="top-bar">
  <div class="row column">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Vala</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu" data-controller="<%=params[:controller].split('/').last%>" data-action="<%=params[:action]%>">
        <li data-path-root="blanks" data-pathing="blanks-index"><%= link_to "Blanks", root_path %>
        <li data-path-root="colors" data-pathing="colors-index"><%= link_to "Colors", colors_path %>
        <li data-path-root="products" data-pathing="products-index"><%= link_to "Products", products_path %>
      </ul>
    </div>
  </div>
</div>
