<div class="top-bar">
  <div class="row column">
    <div class="top-bar-left">
      <ul class="menu">
        <li><%= link_to "Blanks", root_path, class: active_class?(root_path) %></li>
        <li><%= link_to "Colors", colors_path, class: active_class?(colors_path) %></li>
        <li><%= link_to "Products", products_path, class: active_class?(products_path) %></li>
        <li><%= link_to "Print Methods", print_methods_path, class: active_class?(print_methods_path) %></li>
        <li><%= link_to "Blocks", blocks_path, class: active_class?(blocks_path) %></li>
        <li><%= link_to "Currency Exchange", currency_exchanges_path, class: active_class?(currency_exchanges_path) %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if user_signed_in? %>
          <li class="menu-text">Hello, <%= current_user.name %></li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: "You will be logged out."}, class: "button" %>
          </li>
        <% else %>
          <li>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to "Sign in with Zeus", omniauth_authorize_path(resource_name, provider), class: "button" %>
              <% end -%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
