<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Athena" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% unless content_for?(:no_topbar) %>
      <%= render "layouts/topbar" %>
    <% end %>

    <% flash.each do |name, msg| -%>
      <div class="row column">
        <%= content_tag :div, msg, class: "callout #{name}" %>
      </div>
    <% end -%>

    <%= yield %>
    <script type="text/javascript">
      $(document).ready(function() {
         Feedback({h2cPath:'html2canvas.js',
            url: '<%= "#{Figaro.env.locate_employee_app}/api/v1/bug_reports" %>'});
       });
    </script>    
  </body>
</html>
